.logonav {
  line-height: 50px;
}

.logo {
  height: auto;
}

.banner_item,
.banner_item2 {
  height: 300px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.acc-text {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.banner_category {
  width: 100px;
  height: 30px;
  background-color: #fff;
  font-family:'Poppins', sans-serif;
}

.main-icon {
  transition: transform 0.3s; /* Efek transisi untuk transform */
}

.main-icon:hover {
  transform: translate3d(0, -0.150rem, 0); /* Menggeser ikon ke atas saat hover */
}

.main-icon svg {
  width: 1.5rem; /* Ukuran ikon */
  height: 1.5rem; /* Ukuran ikon */
  fill: #010101; /* Warna ikon */
}

/* Contact Style */
#contact {
  background-color: #fff;
  padding: 60px 0;
}

#contact h2 {
  font-size: 2.5rem;
  color: #333;
  margin-top: 50px;
}

#contact p {
  font-size: 1.1rem;
  color: #555;
}

#contact form {
  margin-top: 30px;
}

#contact form label {
  font-size: 1rem;
  color: #333;
}

#contact form input[type="text"],
#contact form input[type="email"],
#contact form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

#contact form textarea {
  resize: none;
}

#contact form button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#contact form button:hover {
  background-color: #0056b3;
}

#contact .col-lg-6 {
  margin-bottom: 30px;
}

#map {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
}

@media (max-width: 768px) {
  #contact h2 {
    font-size: 2rem;
  }
}

#about-main {
  margin-top: 40px;
  background-color: #f2f2f2;
  border-radius: 1%;
}

.teks-about {
  display: inline-block;
  padding-right: 100px;
}

.img-about {
  margin-right: 1px;
}

.teks-category {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  font-family:'Poppins', sans-serif;
  padding: 30px 42px 90px 42px;
}

.teks-category-2 {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  font-family:'Poppins', sans-serif;
  padding: 30px 42px 90px 42px;
}

/* body {
  font-family: sans-serif;
} */

.menu-filter {
  text-align: center;
  margin-bottom: 20px;
}

.menu-filter button {
  margin: 5px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.menu-filter button.active {
  background-color: #ddd;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-item {
  width: 250px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.menu-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.menu-item h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

.menu-item p {
  margin-bottom: 0;
}

.food {
  background-color: #f5f5f5;
}

.drink {
  background-color: #fafafa;
}

.hidden {
  display: none;
}

.kategori{
  margin-top: 100px;
  text-align: center;
  
}

.detail-produk img {
  width: 220px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.modal#addToCartModal .modal-content {
  border-radius: 30px;
}
.modal#addToCartModal .modal-content svg {
  width: 100px;
  display: block;
  margin: 0 auto;
}
.modal#addToCartModal .modal-content .path,
.modal#addToCartModal .modal-content .path.circle {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  -webkit-animation: dash 0.9s ease-in-out;
  animation: dash 0.9s ease-in-out;
}
.modal#addToCartModal .modal-content .path.line {
  stroke-dashoffset: 1000;
  -webkit-animation: dash 0.95s 0.35s ease-in-out forwards;
  animation: dash 0.95s 0.35s ease-in-out forwards;
}
.modal#addToCartModal .modal-content .path.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check 0.95s 0.35s ease-in-out forwards;
  animation: dash-check 0.95s 0.35s ease-in-out forwards;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100%{
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@media (max-width: 768px) {
  .menu-list {
    flex-direction: column;
  }
}

/* CSS untuk tata letak horizontal */
.cart-items-container {
display: flex;
flex-direction: column;
}

.cart-item {
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 10px;
}

.cart-item .item-info {
flex-grow: 1;
}

.cart-item .delete-btn {
margin-left: 10px;
}

.quantity-input {
width: 60px; /* Atur lebar sesuai kebutuhan */
height: 30px; /* Atur tinggi sesuai kebutuhan */
font-size: 14px; /* Atur ukuran font sesuai kebutuhan */
text-align: center; /* Pusatkan teks dalam input */
}

.bank-logo {
width: 50px; /* Ubah lebar gambar */
height: auto; /* Biarkan tinggi menyesuaikan proporsi gambar */
}

.banner_category {
  height: 50px;
  background: #fff;
}

.banner_category a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #010101;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  width: 100%;
}

/* About section styles */
.about-content {
  padding: 50px; /* Add padding for better spacing */
  margin-top: 100px;
}

.about-text {
  margin-top: 20px; /* Reduce top margin */
}

.about-content p {
  font-size: 1.1rem; /* Font size for headings and paragraphs */
  line-height: 1.6; /* Line height */
}

.about-content h1 {
  color: #333; /* Heading text color */
}

.about-content p {
  color: #666; /* Paragraph text color */
}

.about-content img {
  max-width: 80%; /* Make image responsive */
  height: auto; /* Ensure image aspect ratio */
  border-radius: 10px; /* Rounded corners */
}

:root {
  --dark: #000000;
  --wangi: #0f4bc2;
  --wangi2: #0b2c78;
  --mantan: #ffffff;
  --abu: rgba(255, 255, 255, 0.668);
  --mantan2: rgb(109, 105, 105);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 768px) {
  .banner_item,
  .banner_item2 {
    height: 200px; /* Mengurangi tinggi blok promosi pada layar kecil */
  }

  .teks-about {
    padding-right: 0; /* Menghapus padding kanan pada teks about */
    margin-top: 20px; /* Menambah margin atas pada teks about */
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 400px) {
  .navbar-brand img {
    width: 40px; /* Mengurangi ukuran logo pada layar sangat kecil */
  }

  .main-icon svg {
    width: 1.2rem; /* Mengurangi ukuran ikon pada layar sangat kecil */
    height: 1.2rem;
  }
}

@media only screen and (max-width: 991px) {
.banner_category a {
    font-size: 16px;
    line-height: 40px;
}
}

@media only screen and (max-width: 991px) {
.banner_category {
    min-width: 160px;
    height: 40px;
}
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("img/home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 23%;
  bottom: 0;
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5em;
  color: var(--mantan);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  color: #000000;
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: black;
  background-color: whitesmoke;
  border-radius: 0.5rem;
  text-decoration: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.hero .content .cta:hover {
  background-color: var(--wangi); /* Ubah warna latar belakang saat dihover */
  color: var(--mantan); /* Ubah warna teks saat dihover */
}



/* Responsive */
@media (max-width: 768px) {
  .hero .content {
    padding: 1.4rem 5%;
    text-align: center;
  }

  .hero .content h1 {
    font-size: 3em;
  }

  .hero .content .cta {
    display: block;
    width: 80%;
    margin: 1rem auto;
  }
}

.section-05 {
  padding: 90px 42px 30px 42px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.frame-18 {
  padding: 44px 0px 44px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 281px;
  position: relative;
}
.frame-19 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.we-re-on-a-mission-to-clean-up-the-industry {
  color: var(--white, #ffffff);
  text-align: center;
  font-family: "Lato-Black", sans-serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 900;
  position: relative;
  align-self: stretch;
}
.read-about-our-progress-in-our-latest-impact-report {
  color: var(--white, #ffffff);
  text-align: center;
  font-family: "Lato-Black", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 900;
  position: relative;
  align-self: stretch;
}
.button-section-5 {
  background: var(--white, #ffffff);
  padding: 12px 0px 12px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 240px;
  position: relative;
}
.shop-now {
  color: var(--500, #262626);
  text-align: center;
  font-family: "Lato-Black", sans-serif;
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 900;
  position: relative;
  text-decoration: none;
}
.shop-now a {
  text-decoration: none;
  color: inherit;
}
.shop-now a:hover {
  color: grey;
}
.container-footer-newest-ver{
	max-width: 1170px;
	margin:auto;
}
.row-footer-newest-ver{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer-newest-ver{
	background-color: #24262b;
  padding: 70px 0px 0px 0px;
}
.footer-col{
  width: 25%;
  padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
  }
}
.frame-124 {
  padding: 16px 0px 16px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._2023-all-rights-reserved {
  color: var(--300, #737373);
  text-align: center;
  font-family: "Lato-Black", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  position: relative;
  align-self: stretch;
}