.logonav {
  line-height: 50px;
}

.logo {
  height: auto;
}

.banner_item,
.banner_item2 {
  height: 300px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.acc-text {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.banner_category {
  width: 100px;
  height: 30px;
  background-color: #fff;
  font-family:'Poppins', sans-serif;
}

.main-icon {
  transition: transform 0.3s; /* Efek transisi untuk transform */
}

.main-icon:hover {
  transform: translate3d(0, -0.150rem, 0); /* Menggeser ikon ke atas saat hover */
}

.main-icon svg {
  width: 1.5rem; /* Ukuran ikon */
  height: 1.5rem; /* Ukuran ikon */
  fill: #010101; /* Warna ikon */
}

#about-main {
  margin-top: 40px;
  background-color: #f2f2f2;
  border-radius: 1%;
}

.teks-about {
  display: inline-block;
  padding-right: 100px;
}

.img-about {
  margin-right: 1px;
}

.teks-category {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  font-family:'Poppins', sans-serif;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-item {
  width: 250px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.menu-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.menu-item h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

.menu-item p {
  margin-bottom: 0;
}

.banner_category {
  height: 50px;
  background: #fff;
}

.banner_category a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #010101;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  width: 100%;
}


:root {
  --dark: #000000;
  --wangi: #0f4bc2;
  --wangi2: #0b2c78;
  --mantan: #ffffff;
  --abu: rgba(255, 255, 255, 0.668);
  --mantan2: rgb(109, 105, 105);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
/* Footer */
footer {
  background-color: var(--mantan2);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: var(--dark);
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--abu);
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: var(--dark);
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}
footer .credit p {
  color: var(--dark);
}

footer .credit a {
  color: var(--mantan);
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .banner_item,
  .banner_item2 {
    height: 200px; /* Mengurangi tinggi blok promosi pada layar kecil */
  }

  .teks-about {
    padding-right: 0; /* Menghapus padding kanan pada teks about */
    margin-top: 20px; /* Menambah margin atas pada teks about */
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 400px) {
  .navbar-brand img {
    width: 40px; /* Mengurangi ukuran logo pada layar sangat kecil */
  }

  .main-icon svg {
    width: 1.2rem; /* Mengurangi ukuran ikon pada layar sangat kecil */
    height: 1.2rem;
  }
}

@media only screen and (max-width: 991px) {
.banner_category a {
    font-size: 16px;
    line-height: 40px;
}
}

@media only screen and (max-width: 991px) {
.banner_category {
    min-width: 160px;
    height: 40px;
}
}