/* styles-about.css */
body {
  background-image: url("");
  background-size: cover;
  background-position: center;
}

/* General styles */
.main-icon {
  transition: transform 0.3s; /* Transition effect for transform */
}

.main-icon:hover {
  transform: translate3d(0, -0.15rem, 0); /* Move icon up on hover */
}

.main-icon svg {
  width: 1.5rem; /* Icon size */
  height: 1.5rem; /* Icon size */
  fill: #010101; /* Icon color */
}

/* About section styles */
.about-content {
  padding: 50px; /* Add padding for better spacing */
  margin-top: 100px;
}

.about-text {
  margin-top: 20px; /* Reduce top margin */
}

.about-content p {
  font-size: 1.1rem; /* Font size for headings and paragraphs */
  line-height: 1.6; /* Line height */
}

.about-content h1 {
  color: #333; /* Heading text color */
}

.about-content p {
  color: #666; /* Paragraph text color */
}

.about-content img {
  max-width: 80%; /* Make image responsive */
  height: auto; /* Ensure image aspect ratio */
  border-radius: 10px; /* Rounded corners */
}

:root {
  --dark: #000000;
  --wangi: #0f4bc2;
  --wangi2: #0b2c78;
  --mantan: #ffffff;
  --abu: rgba(255, 255, 255, 0.668);
  --mantan2: rgb(109, 105, 105);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* Footer */
footer {
  background-color: var(--mantan2);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: var(--dark);
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--abu);
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: var(--dark);
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}
footer .credit p {
  color: var(--dark);
}

footer .credit a {
  color: var(--mantan);
  font-weight: 700;
}
