/* CSS untuk memberikan jarak atas */
.about {
  padding-top: 80px; /* Sesuaikan nilai sesuai kebutuhan Anda */
}

/* CSS untuk membuat teks berada di tengah */
.text-center {
  text-align: center;
}

/* CSS untuk membuat bagian inti sejajar dengan paragraf dan berada di tengah */
.align-center {
  display: flex;
  justify-content: center; /* Pusatkan horizontal */
  align-items: center; /* Pusatkan vertical */
  margin-top: 20px; /* Atur jarak atas sesuai kebutuhan */
  text-align: center; /* Pusatkan horizontal untuk konten dalam flexbox */
}

/* CSS untuk memberikan radius pada gambar */
.img-rounded {
  border-radius: 10px; /* Sesuaikan nilai radius sesuai kebutuhan */
}

.bg-ocean {
  background-color: #F5FFFA;
}

.font-bold {
  font-weight: bold;
}
